<!-- src/app/components/product-card/product-card.html -->
<div [@fadeIn] [@hoverAnimation]="hoverState"
     (mouseenter)="hoverState = 'hovered'"
     (mouseleave)="hoverState = 'initial'"
     class="bg-white rounded-md flex flex-col h-full overflow-hidden cursor-pointer group"
     (click)="emitOpenDetail()">

    <!-- 🖼️ Imagen principal del producto -->
    <div class="w-full h-48 bg-gray-100 flex-shrink-0 relative overflow-hidden">
        <img ngOptimizedImage
             [ngSrc]="product.imagen && product.imagen.trim() ? product.imagen : 'https://picsum.photos/400/300'"
             fill
             alt="{{ product.nombre }}"
             class="object-cover group-hover:scale-105 transition-transform duration-300"
             priority />
    </div>

    <!-- Nombre y precio -->
    <div class="p-4 flex flex-col flex-grow justify-between mt-2">
        <p class="text-xs text-slate-400 tracking-wider mb-3 uppercase  ">
          Categoría 1
        </p>
        <h2 class="text-2xl font-heading font-normal mb-3 group-hover:text-blue-600 transition-colors">
          {{ product.nombre }}
        </h2>
        <p class="text-lg font-heading font-medium text-primary">
            {{ product.precio | currency:'ARS':'symbol':'1.0-0':'es-AR' }}
        </p>
    </div>
</div>
